#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}

.grid-square {
    aspect-ratio: 1/1;
    flex: 1;
}

#btn {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    padding: 8px;
}
