.redBody {
    margin: auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.grid-square {
    flex-grow: 1;
    flex-shrink: 1;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    outline: 1px solid black;
}

#btn {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    padding: 8px;
}
